.radio-label {
  cursor: default;
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-input {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2.5px solid gray;
  border-radius: 50%;
  position: relative;
  cursor: default;
  outline: none;
  background-color: white;
}

.radio-input:checked {
  border-width: 6px;
  border-style: solid;
  background-color: transparent;
}

.radio-input.present:checked {
  border-color: green;
}

.radio-input.absent:checked {
  border-color: red;
}

.radio-input.leave:checked {
  border-color: orange;
}
.timeline {
  position: relative;
}

.timeline hr {
  border: 1px solid #ccc;
}

.timeline::before,
.timeline::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
}

.timeline::before {
  left: 0;
  background: gray;
}

.timeline::after {
  right: 0;
  background: gray;
}
.check-inColor {
  color: green;
}
.check-OutColor {
  color: red;
}
