.radio-label {
  cursor: default;
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-input {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2.5px solid gray;
  border-radius: 50%;
  position: relative;
  cursor: default;
  outline: none;
  background-color: white;
}

.radio-input:checked {
  border-width: 6px;
  border-style: solid;
  background-color: transparent;
}

.radio-input.present:checked {
  border-color: green;
}

.radio-input.absent:checked {
  border-color: red;
}

.radio-input.leave:checked {
  border-color: orange;
}
.timeline {
  position: relative;
}

.timeline hr {
  border: 1px solid #ccc;
}

.timeline::before,
.timeline::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
}

.timeline::before {
  left: 0;
  background: gray;
}

.timeline::after {
  right: 0;
  background: gray;
}
.check-inColor {
  color: green;
}
.check-OutColor {
  color: red;
}

.card-title {
  position: relative;
  padding-left: 20px;
}

.card-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px; /* thickness of the line */
  height: 100%; /* match text height */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 999px; /* fully rounded top & bottom */
}
